<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocalizacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map_canvas"></div>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
