<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prueba de bluetooh
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card-content ion-item *ngfor="let device of devices" (click)="sendData(device.id)">
      <p>{{device.name || 'Unnamed'}}</p>
      <p>{{device.id}}</p>
      <p> RSSI: {{device.rssi}}</p>
    </ion-card-content>
  </ion-list>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
